@tailwind base;
@tailwind components;
@tailwind utilities;

#viewer {
    @apply bg-white md:p-2 p-1 shadow-md text-sm;
}
#viewer h1 {
    @apply mt-1 p-1 bg-blue-200;
    margin: 2px 0px 2px 0px;
}
#viewer h2 {
    @apply mt-1 p-1 bg-slate-200;
    margin: 2px 0px 2px 0px;
}
#viewer h3 {
    @apply bg-gray-200 mt-1 p-1;
    margin: 2px 2px 2px 2px;
}
#viewer p {
    @apply leading-normal;
}
#viewer table{
    @apply table w-full;
}
#viewer tr {
    @apply table-row;
}
#viewer th, #viewer td {
    @apply table-cell;
}
#viewer ul li {
    @apply relative -left-3 list-disc;
    margin-top: 0px;
}
#viewer ol li {
    @apply relative -left-3 list-decimal;
    margin-top: 0px;
}
#viewer.info a{
    @apply block border bg-blue-500 transition duration-300 font-semibold shadow-sm text-sm;
    @apply text-white text-center py-2 px-4 rounded-lg cursor-pointer;
    @apply hover:bg-blue-600 hover:no-underline;
}
#viewer .info p {
    @apply leading-tight;
    margin: 2px 2px 2px 2px;
}
#viewer .info {
    position: relative;
    margin: 0 0;
    padding: 2px 2px 2px 2px;
    border-radius: 6px;
    background: #eff7ff;
    color: rgba(0,0,0,.65);
    font-size: .94em;
    line-height: 1;
}
